.CARD-TFT {
  height: 261px;
  position: relative;
  width: 470px;
}

.CARD-TFT .overlap-group-5 {
  height: 263px;
  left: -2px;
  position: relative;
  width: 472px;
}

.CARD-TFT .subtract-7 {
  height: 243px;
  left: 0;
  position: absolute;
  top: 20px;
  width: 460px;
}

.CARD-TFT .mask-group-3 {
  height: 209px;
  left: 17px;
  position: absolute;
  top: 37px;
  width: 426px;
}

.CARD-TFT .mask-group-4 {
  height: 259px;
  left: 18px;
  position: absolute;
  top: 0;
  width: 454px;
}

.CARD-TFT .teamfight-tactics {
  height: 57px;
  left: 24px;
  position: absolute;
  top: 115px;
  width: 167px;
}

.CARD-TFT .group-3 {
  height: 30px;
  left: 17px;
  position: absolute;
  top: 216px;
  width: 148px;
}

.CARD-TFT .overlap-group-6 {
  background-image: url(../../../static/img/subtract-21.svg);
  background-size: 100% 100%;
  height: 30px;
  position: relative;
  width: 146px;
}

.CARD-TFT .coming-soon-2 {
  color: #181818;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 800;
  left: 21px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 6px;
}

.CARD-TFT.property-1-0-ACTIVE {
  box-shadow: 13.02px 12.02px 53.79px #b8e92d33;
}
